<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="UTF-8">
    <title>Cats or Dogs</title>
</head>
<body>
    <form name="catsOrDogsForm" action="." method="post">
        <label>Name</label><br>
        <input type="text" name="name"><br>
        <label>Favorite Color</label><br>
        <input type="text" name="color"><br>
        <label>Cats or Dogs</label><br>
        <input type="radio" name="pet" value="cats" checked>Cats
        <input type="radio" name="pet" value="dogs">Dogs
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
